In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
import pandas as pd

In [4]:
books = []
for i in range (1,50):
    url = f"http://books.toscrape.com/catalogue/category/books_1/page-{i}.html"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article', class_='product_pod')
    
    
    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p', class_='price_color').text
        price = float(price[1:])
        books.append([title, price, star])

In [5]:
df = pd.DataFrame(books, columns=['title', 'Price', 'Star Rating'])

In [6]:
df.to_csv('books2.csv')

In [7]:
df.head()

                                   title  Price Star Rating
0                   A Light in the Attic  51.77       Three
1                     Tipping the Velvet  53.74         One
2                             Soumission  50.10         One
3                          Sharp Objects  47.82        Four
4  Sapiens: A Brief History of Humankind  54.23        Five